<span>Room Name:<br></span>
{{input type="text" value=roomInput.roomName}}

<!-- Emitter options dropdown -->
<span><br>Emitter Type:<br></span>
<select onchange = {{action (mut roomInput.emitter.emitterType) value="target.value"}}>
  {{#each roomInput.emitterTypeOptions as |emitterTypeOption|}}
    <option>{{emitterTypeOption}}</option>
  {{/each}}
</select>

<!-- Show options if Underfloor Heating -->
{{#if roomInput.emitter.isUnderfloor}}
  <span hidden={{unless roomInput.emitter.isUnderfloor "hidden"}}><br>Floor Surface Type:<br></span>
  <select hidden={{unless roomInput.emitter.isUnderfloor "hidden"}} onchange = {{action (mut roomInput.floorSurfaceType) value="target.value"}}>
    {{#each roomInput.floorSurfaceTypeOptions as |floorSurfaceTypeOption|}}
      <option>{{floorSurfaceTypeOption}}</option>
    {{/each}}
  </select>
{{/if}}

{{#if roomInput.isCustomMaximumSurfaceTemp}}
  <span><br>Maximum Floor Surface Temperature in °C:<br></span>
  {{input type="number" value=roomInput.maximumFloorSurfaceTemp}}
{{/if}}

<span hidden={{unless roomInput.emitter.isUnderfloor "hidden"}}><br>Floor Construction:<br></span>
<select hidden={{unless roomInput.emitter.isUnderfloor "hidden"}} onchange = {{action (mut roomInput.floorConstruction) value="target.value"}}>
  {{#each roomInput.floorConstructionOptions as |floorConstructionOption|}}
    <option>{{floorConstructionOption}}</option>
  {{/each}}
</select>

{{#if roomInput.emitter.isUnderfloor}}
  <span><br>Active floor area in m<sup>2</sup>:<br></span>
  {{input type="number" value=roomInput.activeFloorArea}}
{{/if}}

<span><br>Room Type:<br></span>
<select onchange = {{action (mut roomInput.roomType) value="target.value"}}>
  {{#each roomInput.roomTypeOptions as |roomTypeOption|}}
    <option>{{roomTypeOption}}</option>
  {{/each}}
</select>

<span><br>Chimney Type:<br></span>
<select onchange = {{action (mut roomInput.chimneyType) value="target.value"}}>
  {{#each roomInput.chimneyTypeOptions as |chimneyTypeOption|}}
    <option>{{chimneyTypeOption}}</option>
  {{/each}}
</select>

<span><br>Room Length:<br></span>
{{input type="number" value=roomInput.length}}

<span><br>Room Width:<br></span>
{{input type="number" value=roomInput.width}}

<span><br>Room Height:<br></span>
{{input type="number" value=roomInput.height}}

<span><br>Construction elements:<br></span>
<!-- Show elements if there are any to show -->
{{#if roomInput.elements}}
  {{#each roomInput.elements as |constructionElement index|}}
    {{collapsable-component componentName=(add "Element " index)
      componentToRender=(component "element-component" constructionElement=constructionElement index=index destroyElement=(action destroyElement))
    }}
  {{/each}}
{{/if}}
<!-- Add elements to the array of elements in the roomInputs class -->
<button {{action addElement}}> Add Construction Element (Wall, Floor, Ceiling)</button>
<br>

<!-- Show floors if there are any to show -->
{{#if roomInput.floors}}
  {{#each roomInput.floors as |floor index|}}
    {{collapsable-component componentName=(add "Floor " index)
      componentToRender=(component "floor-component" floor=floor index=index destroyFloor=(action destroyFloor))
    }}
  {{/each}}
{{/if}}
<!-- Add floor to the array of floors in the roomInputs class -->
<button {{action addFloor target=roomInput}}> Add Floor</button>
<br>

<!-- Show portals if there are any to show -->
{{#if roomInput.portals}}
  {{#each roomInput.portals as |portal index|}}
    {{collapsable-component componentName=(add "Portal " index)
      componentToRender=(component "portal-component" portal=portal index=index destroyPortal=(action destroyPortal))
    }}
  {{/each}}
{{/if}}
<!-- Add floor to the array of floors in the roomInputs class -->
<button {{action addPortal target=roomInput}}> Add Portal</button>
<br>

<!-- Create the room model from the input the user gave -->
<button {{action createRoom roomInput.roomName roomInput.emitterType roomInput.temperatureFactor roomInput.nCoefficient roomInput.floorSurfaceType roomInput.maximumFloorSurfaceTemp roomInput.floorConstruction roomInput.floorTOG roomInput.activeFloorArea}}> Create Room </button>
