<!-- Display the final information sheet for the room -->
{{#each siteInput.rooms as |room index|}}
<span><b>{{room.roomName}}</b><br></span>
  <table class="form-table">
    <tr>
      <th>Room name: </th>
      <td>{{room.roomName}}</td>

      <th>Emitter type: </th>
      <td>{{room.emitter.emitterType}}</td>

      {{#if room.emitter.isConvector}}
        <th>Convector temperature factor: </th>
        <td>{{round-2dp room.emitter.temperatureFactor}}</td>
      {{/if}}

      {{#if room.emitter.isRadiator}}
        <th>n-coefficient: </th>
        <td>{{room.emitter.nCoefficient}}</td>
      {{/if}}
    </tr>
    <tr>
      {{#if room.emitter.isUnderfloor}}
        <th>Floor type : </th>
        <td>{{room.floorSurfaceType}}</td>

        <th>Floor construction: </th>
        <td>{{room.floorConstruction}}</td>
      {{/if}}
    </tr>

    <tr>
      {{#if room.emitter.isUnderfloor}}
        <th>TOG Value: </th>
        <td>{{room.emitter.floorTOG}}</td>

        <th>Active or Exposed area of the heated floor</th>
        <td>{{room.activeFloorArea}}</td>
      {{/if}}
    </tr>

    <tr>
      <th>Room type: </th>
      <td>{{room.roomType}}</td>

      <th>Open fire/chimney details: </th>
      <td>{{room.chimneyType}}</td>

      <th>Design room ventilation rate: </th>
      <td>{{room.designRoomVentilationRate}}</td>

      <th>Design room temperature: </th>
      <td>{{room.roomTypeDesignTemperature}}</td>
    </tr>

    <tr><b>Room Dimensions</b></tr>
    <tr>
      <th>Room length (m): </th>
      <td>{{room.length}}</td>

      <th>Room width (m): </th>
      <td>{{room.width}}</td>

      <th>Room height (m): </th>
      <td>{{room.height}}</td>

      <th>Room volume (m<sup>3</sup>): </th>
      <td>{{room.roomVolume}}</td>
    </tr>

    <tr>
      <th>Design temperature difference: </th>
      <td>{{room.designTemperatureDifference}}</td>

      <th>Heat loss (W): </th>
      <td>{{round-2dp room.heatLoss}}</td>
    </tr>
  </table>

  <span><b>Walls, floors not on the ground and ceiling</b></span>
  <table class="vertical-table">
    <tr>
      <th>Name of wall, floor, ceiling</th>
      <th>Space on other side</th>
      <th>Height or length (m)</th>
      <th>Width (m)</th>
      <th>Area (m²)</th>
      <th>Construction</th>
      <th>U-value (W/m²K)</th>
      <th>Design temperature difference</th>
      <th>Heat loss (W)</th>
    </tr>
    {{#each room.elements as |element input|}}
      <tr>
        <td>{{element.description}}</td>
        <td>{{element.spaceTypeOnOtherSide}}</td>
        <td>{{element.heightOrLength}}</td>
        <td>{{element.width}}</td>
        <td>{{round-2dp element.area}}</td>
        <td>{{element.construction}}</td>
        <td>{{element.uValue}}</td>
        <td>{{round-2dp element.designTemperatureDifference}}</td>
        <td>{{round-2dp element.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Ground floors</b></span>
  <table class="vertical-table">
    <tr>
      <th>Short length (m)</th>
      <th>Long length (m)</th>
      <th>Edges exposed</th>
      <th>Area (m²)</th>
      <th>Insulation type and thickness</th>
      <th>U-value (W/m²K)</th>
      <th>Design temperature difference</th>
      <th>Heat loss (W)</th>
    </tr>
    {{#each room.floors as |floor input|}}
      <tr>
        <td>{{floor.shortLength}}</td>
        <td>{{floor.longLength}}</td>
        <td>{{floor.edgesExposed}}</td>
        <td>{{round-2dp floor.area}}</td>
        <td>{{floor.insulationType}}</td>
        <td>{{floor.uValue}}</td>
        <td>{{round-2dp floor.designTemperatureDifference}}</td>
        <td>{{round-2dp floor.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Windows and doors</b></span>
  <table class="vertical-table">
    <tr>
      <th>Wall or roof with window or door</th>
      <th>Window or door height (m)</th>
      <th>Window or door width (m)</th>
      <th>Area (m²)</th>
      <th>Wall/roof U-value (W/m<sup>2</sup>K)</th>
      <th>Frame and glazing type</th>
      <th>U-value</th>
      <th>Design temperature difference</th>
      <th>Heat loss (W)</th>
    </tr>
    {{#each room.portals as |portal input|}}
      <tr>
        <td>{{portal.partOf.description}}</td>
        <td>{{portal.height}}</td>
        <td>{{portal.width}}</td>
        <td>{{round-2dp portal.area}}</td>
        <td>{{portal.partOf.uValue}}</td>
        <td>{{portal.frameType}}</td>
        <td>{{portal.uValue}}</td>
        <td>{{round-2dp portal.partOf.designTemperatureDifference}}</td>
        <td>{{round-2dp portal.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Results:</b></span>
  <table class="form-table">
    <tr>
      <th>Total Heat Loss</th>
      <td>{{round-2dp room.totalHeatLoss}}</td>
    </tr>
  </table>
{{/each}}
