{{#each siteInput.rooms as |room index|}}
<span><b>{{room.roomName}}</b><br></span>
  <table class="form-table">
    <tr>
      <td>Room name: </td>
      <td>{{room.roomName}}</td>

      <td>Emitter type: </td>
      <td>{{room.emitter.emitterType}}</td>

      {{#if room.emitter.isConvector}}
        <td>Convector temperature factor: </td>
        <td>{{round-2dp room.emitter.temperatureFactor}}</td>
      {{/if}}

      {{#if room.emitter.isRadiator}}
        <td>n-coefficient: </td>
        <td>{{room.emitter.nCoefficient}}</td>
      {{/if}}
    </tr>
    <tr>
      {{#if room.emitter.isUnderfloor}}
        <td>Floor type : </td>
        <td>{{room.floorSurfaceType}}</td>

        <td>Floor construction: </td>
        <td>{{room.floorConstruction}}</td>
      {{/if}}
    </tr>

    <tr>
      {{#if room.emitter.isUnderfloor}}
        <td>TOG Value: </td>
        <td>{{room.emitter.floorTOG}}</td>

        <td>Active or Exposed area of the heated floor</td>
        <td>{{room.activeFloorArea}}</td>
      {{/if}}
    </tr>

    <tr>
      <td>Room type: </td>
      <td>{{room.roomType}}</td>

      <td>Open fire/chimney details: </td>
      <td>{{room.chimneyType}}</td>

      <td>Design room ventilation rate: </td>
      <td>{{room.designRoomVentilationRate}}</td>

      <td>Design room temperature: </td>
      <td>{{room.roomTypeDesignTemperature}}</td>
    </tr>

    <tr><b>Room Dimensions</b></tr>
    <tr>
      <td>Room length (m): </td>
      <td>{{room.length}}</td>

      <td>Room width (m): </td>
      <td>{{room.width}}</td>

      <td>Room height (m): </td>
      <td>{{room.height}}</td>

      <td>Room volume (m<sup>3</sup>): </td>
      <td>{{room.roomVolume}}</td>
    </tr>

    <tr>
      <td>Design temperature difference: </td>
      <td>{{room.designTemperatureDifference}}</td>

      <td>Heat loss (W): </td>
      <td>{{round-2dp room.heatLoss}}</td>
    </tr>
  </table>

  <span><b>Walls, floors not on the ground and ceiling</b></span>
  <table class="vertical-table">
    <tr>
      <td>Name of wall, floor, ceiling</td>
      <td>Space on other side</td>
      <td>Height or length (m)</td>
      <td>Width (m)</td>
      <td>Area (m²)</td>
      <td>Construction</td>
      <td>U-value (W/m²K)</td>
      <td>Design temperature difference</td>
      <td>Heat loss (W)</td>
    </tr>
    {{#each room.elements as |element input|}}
      <tr>
        <td>{{element.description}}</td>
        <td>{{element.spaceTypeOnOtherSide}}</td>
        <td>{{element.heightOrLength}}</td>
        <td>{{element.width}}</td>
        <td>{{round-2dp element.area}}</td>
        <td>{{element.construction}}</td>
        <td>{{element.uValue}}</td>
        <td>{{round-2dp element.designTemperatureDifference}}</td>
        <td>{{round-2dp element.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Ground floors</b></span>
  <table class="vertical-table">
    <tr>
      <td>Short length (m)</td>
      <td>Long length (m)</td>
      <td>Edges exposed</td>
      <td>Area (m²)</td>
      <td>Insulation type and thickness</td>
      <td>U-value (W/m²K)</td>
      <td>Design temperature difference</td>
      <td>Heat loss (W)</td>
    </tr>
    {{#each room.floors as |floor input|}}
      <tr>
        <td>{{floor.shortLength}}</td>
        <td>{{floor.longLength}}</td>
        <td>{{floor.edgesExposed}}</td>
        <td>{{round-2dp floor.area}}</td>
        <td>{{floor.insulationType}}</td>
        <td>{{floor.uValue}}</td>
        <td>{{round-2dp floor.designTemperatureDifference}}</td>
        <td>{{round-2dp floor.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Windows and doors</b></span>
  <table class="vertical-table">
    <tr>
      <td>Wall or roof with window or door</td>
      <td>Window or door height (m)</td>
      <td>Window or door width (m)</td>
      <td>Area (m²)</td>
      <td>Wall/roof U-value (W/m<sup>2</sup>K)</td>
      <td>Frame and glazing type</td>
      <td>U-value</td>
      <td>Design temperature difference</td>
      <td>Heat loss (W)</td>
    </tr>
    {{#each room.portals as |portal input|}}
      <tr>
        <td>{{portal.partOf.description}}</td>
        <td>{{portal.height}}</td>
        <td>{{portal.width}}</td>
        <td>{{round-2dp portal.area}}</td>
        <td>{{portal.partOf.uValue}}</td>
        <td>{{portal.frameType}}</td>
        <td>{{portal.uValue}}</td>
        <td>{{round-2dp portal.partOf.designTemperatureDifference}}</td>
        <td>{{round-2dp portal.heatLoss}}</td>
      </tr>
    {{/each}}
  </table>

  <span><b>Results:</b></span>
  <table class="form-table">
    <tr>
      <td>Total Heat Loss</td>
      <td>{{round-2dp room.totalHeatLoss}}</td>
    </tr>
  </table>
{{/each}}
