<h2>Room Inputs</h2>

<span>Room Name:<br></span>
{{input type="text" value=roomName}}

<!-- Emitter options dropdown -->
<span><br>Emitter Type:<br></span>
<select onchange = {{action (mut emitterType) value="target.value"}}>
  {{#each emitterTypeOptions as |emitterTypeOption|}}
    <option>{{emitterTypeOption}}</option>
  {{/each}}
</select>

<!-- Show options if Convector -->
{{#if isConvector}}
  <span><br>Temperature Factor:<br></span>
  {{input type="number" value=temperatureFactor}}
{{/if}}

<!-- Show options if Radiator -->
{{#if isRadiator}}
  <span><br>n-Coefficient:<br></span>
  {{input type="number" value=nCoefficient}}
{{/if}}

<!-- Show options if Underfloor Heating -->
<span hidden={{unless isUnderfloor "hidden"}}><br>Floor Surface Type:<br></span>
<select hidden={{unless isUnderfloor "hidden"}} onchange = {{action (mut floorSurfaceType) value="target.value"}}>
  {{#each floorSurfaceTypeOptions as |floorSurfaceTypeOption|}}
    <option>{{floorSurfaceTypeOption}}</option>
  {{/each}}
</select>

{{#if isCustomMaximumSurfaceTemp}}
  <span><br>Maximum Floor Surface Temperature in °C:<br></span>
  {{input type="number" value=maximumFloorSurfaceTemp}}
{{/if}}

<span hidden={{unless isUnderfloor "hidden"}}><br>Floor Construction:<br></span>
<select hidden={{unless isUnderfloor "hidden"}} onchange = {{action (mut floorConstruction) value="target.value"}}>
  {{#each floorConstructionOptions as |floorConstructionOption|}}
    <option>{{floorConstructionOption}}</option>
  {{/each}}
</select>

{{#if isUnderfloor}}
  <span><br>Floor TOG value:<br></span>
  {{input type="number" value=floorTOG}}
{{/if}}

{{#if isUnderfloor}}
  <span><br>Active floor area in m<sup>2</sup>:<br></span>
  {{input type="number" value=activeFloorArea}}
{{/if}}

<br>
<button> Create Room </button>
